@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.container-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.img-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    height: 80%;
    border-radius: 72px;
    background: #404467;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(15, 13, 13, 0.532);
}

.container {
    padding: 2px 16px;
}

.container-login p {
    text-align: center;
}

.card {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card h1 {
    font-size: 50px;
    color: #fff;
}

.container-login input {
    width: 80%;
    height: 4%;
    border-radius: 66px;
    border: none;
    padding: 10px;
    /* margin-bottom: 10px; */
    background-color: #fff;
    color: black;
    font-family: "Bree Serif", serif;
}

.container-lblInput {
    margin-bottom: 3%;
}

.container-lblInput-lbl {
    color: #fff;
    font-family: "Bree Serif", serif;
    font-size: 20px;
}

.danger {
    color: rgb(199, 0, 0);
    font-size: 13px;
    /* margin-bottom: 25px; */
}

.divInput {
    width: 80%;
    /* margin-top: 9%; */
}

.divInput input {
    width: 90%;
}

.input-group {
    margin-bottom: 7%;
}

.button-login {
    width: 60%;
    height: 15%;
    border-radius: 50px;
    background-color: #1F2453;
    color: #fff;
    font-family: "Bree Serif", serif;
    font-size: 20px;
    border: none;
    /* margin-bottom: 3%; */
    cursor: pointer;
}

.switch-Register {
    font-size: 80%;
    color: #656db3;
}

.switch-Register .signIn {
    cursor: pointer;
}

.switch-Register p{
    color: #fff;
}
/* Register  */

#cardRegister{
    height: 92%;
}

#btn-Register{
    width: 60%;
    height: 10%;
}

.Title{
    margin-bottom: 6px;
}

.regiter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

@media (max-width: 1024px) {
    .container-login {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .img-right {
        display: flex;
        width: 100%;
        height: auto;
    }

    .card {
        width: 50%;
        height: auto;
        padding: 20px;
        margin-top: 25%;
    }

    .container-login input,
    .button-login {
        width: 90%;
    }
}

@media (max-width: 540px) {
    .container-login {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .img-right {
        display: flex;
        width: 100%;
        height: auto;
    }

    .card {
        width: 60%;
        height: auto;
        padding: 15px;
    }

    .card h1 {
        font-size: 28px;
    }

    .container-login input,
    .button-login {
        width: 100%;
    }

    .container-lblInput-lbl {
        font-size: 16px;
    }

    .button-login {
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .switch-Register {
        font-size: 12px;
    }
}