body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para la cabecera */
.cabecera {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los elementos se apilen si no hay suficiente espacio horizontal */
}

.cabecera-h1 {
    margin: 0;
    font-size:1.8em;
    font-family: 'Bree Serif',cursive;
}

.cabecera-h1 a {
    text-decoration: none;
    text-align: center;
    color: #404467;
    display: flex;
    align-items: center;
}

.cabecera-h1 img {
    max-width: 90px; /* Tamaño máximo de la imagen */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.cabecera-nav {
    margin-left: min(10%, 100px);
}

.cabecera-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos de la lista */
    flex-wrap: wrap; /* Permite que los elementos se apilen si no hay suficiente espacio horizontal */
}

.cabecera-li {
    font-size: 1.5em;
    font-family: 'Bree Serif',cursive;
    display: flex;
    align-items: center;
    margin-right: 30px; /* Ajusta el margen entre los elementos del menú */
}

.cabecera-li svg {
    margin-right: 5px; /* Espacio entre el icono SVG y el texto */
}

.cabecera-li a {
    text-decoration: none;
    padding: 5px;
    color: #404467;
}

.cabecera-li a:hover {
    background-color: #e9e9e9;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s;
}

@media only screen and (min-width: 601px) {
    .cabecera-nav {
        margin-left: auto; /* Mueve el nav hacia la derecha */
    }

    .cabecera-ul {
        justify-content: center; /* Centra horizontalmente las opciones Hotels, Reservations y Services */
    }

    .cabecera-li:not(:last-child) {
        margin-right: 20px; /* Espacio entre las opciones Hotels, Reservations y Services */
    }
}

@media only screen and (max-width: 600px) {
    .cabecera {
        flex-direction: column;
        text-align: center;
    }

    .cabecera-nav {
        margin-left: 0; /* Restablece el margen para pantallas pequeñas */
    }

    .cabecera-ul {
        flex-direction: column;
    }

    .cabecera-li {
        margin: 5px 0;
        margin-right: 0; /* Restablece el margen para pantallas pequeñas */
    }

    .cabecera-li:nth-child(-n+3) {
        order: 2; /* Mueve los primeros 3 elementos al medio */
    }

    .cabecera-li:nth-last-child(-n+2) {
        order: 3; /* Mueve los últimos 2 elementos hacia la derecha */
    }
}
