* {
    color: #33375F;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    height: auto;
    width: 90%;
    background-color: #fff;
    margin: 0 10%;
}

.card-hoteles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 20%;
    height: 27%;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* padding: 20px; */
    /* border-radius: 20px 20px 0 0; */
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.card-hoteles:hover {
    box-shadow: 0 8px 16px 0 rgba(15, 13, 13, 0.532);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    color: black;
    background-size: cover;
    background-position: start;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.card-title {
    /* margin: 10px 0; */
    width: 100%;
    text-align: left;
    margin-top: 7%;
    margin-left: 15%;
    font-size: 108%;
}

.card-text-starts {
    position: absolute;
    top: 23%;
    left: 7%;
}

.card-text-direction-container {
    width: 100%;
    text-align: left;
    margin-top: 13%;
    margin-left: 15%;
    margin-bottom: 3%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
}

.card-text-direction {
    margin: 0;
    font-size: 100%;
    width: 100%;

}

.card-phone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 15%;
}

/* .card-text-phone{
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-left: 15%;
    font-size: 100%;
} */

.phone {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 8%;
}