h1{
    text-align: center;
}

.content-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.content-card{
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background-color: #a3b6a2;
    cursor: pointer;
}

.card-title{
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.card-body p span{
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.info-services a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.info-services a:hover{
    color: #5c627a;
    font-size: 18px;
}

.info-services a:active{
    color: #404467;
}

.card-state{
    padding: 10px;
    background-color: #5c627a;

    border-radius: 15px;
    text-align: center;
}
.state-active{
    color: white;
    font-weight: bold;
}

.state-inactive{
    color: white;
    font-weight: bold;
}

.btn-delete{
    background-color: #404467;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left:10px;
}
.btn-edit{
    background-color: #fffaac;
    width: 100%;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left:10px;
}